  <footer>
    <hr>
    <div class="container">
      <p class="text-center">Escuela de Ingeniería Química</p>
      <p class="text-center">Facultad de Ingeniería</p>
      <p class="text-center">Universidad de los Andes</p>
      <p class="text-center">Mérida - Venezuela</p>
    </div>
    <div class="container-fluid">
      <hr>
      <p class="text-right"><small><em><strong>Desarrollado por:</strong> <a target="_blank" href="#">T.S.U. Jonathan Paredes</a></em></small></p>
      <p class="text-right"><small><em>Asistente de Laboratorio de Informatica</em></small></p>
    </div>  
  </footer>

  <script src="public/js/scripts.js"></script>
</body>
</html>