    <div class="col-md-4">
      <div class="logo-sidebar container-box-shadow p-3 mt-2">
        <img src="public/img/ing-quimica-horizontal.png" alt="" class="img-fluid">
      </div>
      <div class="twitter container-box-shadow p-2 mt-2">
        <a class="twitter-timeline" data-widget-id="512984580064698368" href="http://twitter.com/eiq_ula">Tweets de @eiq_ula</a>
      </div>
      <div class="container-box-shadow p-2 mt-2">
        <a target="_blank" href="http://www.ula.ve/" class="btn btn-info btn-block" role="button"><strong>ULA</strong></a>
        <a target="_blank" href="http://www.ula.ve/ingenieria" class="btn btn-info btn-block" role="button"><strong>Facultad de Ingeniería</strong></a>
        <a target="_blank" href="http://www.ula.ve/ingenieria/quimica" class="btn btn-info btn-block" role="button"><strong>Escuela de Ingeniería Química</strong></a>
        <a target="_blank" href="http://www.ing.ula.ve/labcompuquim/" class="btn btn-info btn-block" role="button"><strong>Laboratorio de Computación</strong></a>
        <a target="_blank" href="http://www.firp.ula.ve/" class="btn btn-info btn-block" role="button"><strong>Laboratorio FIRP</strong></a>
        <a target="_blank" href="http://www.ing.ula.ve/fiqma/" class="btn btn-info btn-block" role="button"><strong>F.I.Q.M.A</strong></a>
        <a target="_blank" href="http://www.ing.ula.ve/piqula/" class="btn btn-info btn-block" role="button"><strong>Postgrado de Ingeniería Química</strong></a>
      </div>
    </div>
