    <div class="col-md-4">
      <div class="logo-sidebar container-box-shadow p-3 mt-2">
        <img src="public/img/ing-quimica-horizontal.png" alt="" class="img-fluid">
      </div>
      <div class="twitter container-box-shadow mt-2">
        <a class="twitter-timeline" data-widget-id="512984580064698368" href="http://twitter.com/eiq_ula">Tweets de @eiq_ula</a>
      </div>
      <div class="container-box-shadow mt-2">
        <h1>Sidebar</h1>
        <h2>Sidebar</h2>
        <h3>Sidebar</h3>
        <h4>Sidebar</h4>
        <h5>Sidebar</h5>
        <h6>Sidebar</h6>  
      </div>
    </div>
  