body{
  font-family: 'Roboto', sans-serif;

  .dropdown-menu-primary{
    background-color: #000033;
  }
  .dropdown-item-primary{
    color: #ffffff;
  }
}

nav{
  .navbar-brand{
    @include media-breakpoint-up(lg) {
      max-width: 30%;
    }
    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
  }
}