body{
  font-family: 'Roboto', sans-serif;

  .dropdown-menu-primary{
    background-color: #000033;
  }
  .dropdown-item-primary{
    color: #ffffff;
  }
  .container-box-shadow{
    border-top: 10px solid #000033;
    box-shadow: 0px 0px 10px #000000;
  }
  .carousel-caption{
    background: rgba(0,0,0,0.5);
  }
}

nav{
  .navbar-brand{
    @include media-breakpoint-up(lg) {
      max-width: 30%;
    }
    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
  }
  .btn-nav:hover,
  .btn-nav-active{
    background-color: #003b79;
  }
}

footer{
  hr{
    border: 5px solid #000033;
  }
  p{
    margin: 0;
  }
  .container-fluid{
    hr{
      border: 1px solid #000033;
    }
  }
}


